<back-button back="Retour à la liste des sets"></back-button>
<div>
  {{set.nom}}
</div>
<ul ng-show="set.items">
  <li ng-repeat="item in set.items">
    <a href="/#/item/{{item.type}}/{{item.id}}">{{item.nom}}</a>
  </li>
</ul>

<div class="card" style="width: 20rem;">

  <img class="card-img-top" src="{{set.visuel}}" alt="Card image cap">
  <div class="card-block">
    <span class="badge badge-success">{{set.tableTypes.length}}</span> 
    <h4 class="card-title">{{set.nom}}</h4>
    <p class="card-text">{{set.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li ng-show="!showItem.bool" ng-click="showItem.bool = true" class="list-group-item">Voir</li>
    <li ng-show="showItem.bool" ng-click="showItem.bool = false" class="list-group-item">Cacher</li>
    <li ng-click="getCompatible(set)" class="list-group-item">Calculer C</li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<ul ng-show="showItem.bool">
  <li ng-repeat="setItem in set.items">
    <a href="/#/item/{{item.type}}/{{item.id}}">{{setItem.nom}}</a>
  </li>
</ul>

<ul ng-show="setsResult.bool" class="list-group">
  <li ng-repeat="setC in resultC | orderBy: 'marge'" class="list-group-item"><span class="badge badge-success">{{setC.marge}}</span>  {{setC.nom}}</li>
</ul>
